strong {
  color: red;
}

.hello {
  color: red;
  width: 500px;
  height: 500px;
}

.scss-dog-image {
  background-image: url("../img/img_avatar.png");
  width: 500px;
  height: 500px;
}

/*# sourceMappingURL=style.css.map */
