@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");


h1 {
  font-family: 'Architects Daughter',
    sans-serif;
}



@font-face {
  font-family: 'MyFont';
  src: url('../my-font.woff2') format('woff2'),
    url('../my-font.woff') format('woff');
  font-weight: 100;
  font-style: normal;

}

/* architects-daughter-regular - latin */
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/architects-daughter-v9-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'),
    url('../fonts/architects-daughter-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/architects-daughter-v9-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/architects-daughter-v9-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/architects-daughter-v9-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/architects-daughter-v9-latin-regular.svg#ArchitectsDaughter') format('svg');
  /* Legacy iOS */
}

/* asset-regular - latin */
@font-face {
  font-family: 'Asset';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/asset-v9-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Asset Regular'), local('Asset-Regular'),
    url('../fonts/asset-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/asset-v9-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/asset-v9-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/asset-v9-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/asset-v9-latin-regular.svg#Asset') format('svg');
  /* Legacy iOS */
}

body {
  font-family: 'MyWebFont', Fallback, sans-serif;
}

.googleapi {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
}

.hello {
  font-family: 'my-font';
  color: red;
}